<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Practice Python </title>
<style>
textarea {
    height: 25px;
}
</style>


<script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='public/css/bootstrap.min.css') }}">
</head>


<body>
    <div id="top" class="nav nav-tabs">
        <li><a href="/">First tab</a></li>
            <div id="top-bitch" class="nav nav-tabs">
                <p>I am super nested</p>
            </div>
        <li><a href="/">Second tab</a></li>
    </div>

    <h3>Conway's Game of Life Modified</h3>
    <p>We are attempting to render a dynamic grid of our simulation here.</p>
</body>
